## python

In [1]:
print("Aditya Santosh Saroj Pathak")

Aditya Santosh Saroj Pathak

In [2]:
input("waht is your name")

waht is your nameaditya

'aditya'

In [3]:
name=input("waht is your name:")

print("hellllllllllooooooo "+ name)

waht is your name:aditya
hellllllllllooooooo aditya

https://docs.python.org/3/library/index.html
###### document to study python

### exercise1 : how does python works

## data Types in python

* int 
* float
* bool
* str
* list
* tuple
* set
* dict

### 1.int and 2.float

In [4]:
print(2+4)
print(2-4)
print(2*4)
print(2/4)

6
-2
8
0.5

In [5]:
print(type(2+4))
print(type(2-4))
print(type(2*4))
print(type(2/4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [6]:
print(2**4)
print(2**3)

16
8

In [7]:
print(2//4)
print(5//4)

0
1

In [8]:
print(5%1)#prints the remainder(modulo)

0

In [9]:
#math function
print(round(3.1))
print(round(3.6))

3
4

In [10]:
print(abs(-3.1))

3.1

In [11]:
print((20-3)+2**2)

21

#operator precedence in math
##### (),**,*/,+-

##### for all math function visit
https://www.programiz.com/python-programming/modules/math#google_vignette

### exercise2 : Guess the output of each answer before you click RUN

In [12]:
print((5 + 4) * 10 / 2)

print(((5 + 4) * 10) / 2)

print((5 + 4) * (10 / 2))

print(5 + (4 * 10) / 2)

print(5 + 4 * 10 // 2)

45.0
45.0
45.0
25.0
25

### bin data type

In [13]:
print(bin(5))
print(int('0b101',2))

0b101
5

# variables(imp1)

variables are way for us to store information .we can access these info any time later in our program whenever we need
###### rules defining a variable
* snake_case(no whitespace allowed){user_iq}
* start with lowercase or underscore{_user_iq}
* letters,numbers,underscore{user_iq3}
* case sensitive
* dont overwrite/ repeat keywords
###### more about keywords :https://www.w3schools.com/python/python_ref_keywords.asp

In [14]:
iq=100
#iq is a variable

In [15]:
print(iq)

100

In [16]:
#reassigning variables
user_age=iq/4
a=user_age
print(a)

25.0

#### expression VS statement

In [17]:
iq=100
user_age=iq/5

#so (iq/5) is the expression:expression is the piece of code that produces a value
#statement on the other hand is the entire line of code:(user_age=iq/5)

##### augmented assignment operator

In [18]:
somevalue=5
somevalue=somevalue+2
print(somevalue)

7

In [19]:
#instead of doing the above code we can do like this
somevalue=5
somevalue+=2
print(somevalue)

7

In [20]:
somevalue=5
somevalue*=2
print(somevalue)

10

In [21]:
somevalue=5
somevalue/=2
print(somevalue)

2.5

In [22]:
somevalue=5
somevalue-=2
print(somevalue)

3

## 3.strings(str)
* strings are immutable
* we cannot change them

In [23]:
'hi hello there'
"hi hello there adityapathak123!"

'hi hello there adityapathak123!'

In [24]:
print(type("hi hello there adityapathak123!"))

<class 'str'>

In [25]:
#for single line
username='supercoder'
passwd='supersecret'

#for multiline 
long_string='''
WOW
0 0
___
'''

print(long_string)

WOW
0 0
___

In [26]:
firstname='aditya'
lastnane='pathak'

fullname=firstname+lastnane
print(fullname)

adityapathak

In [27]:
#string concatination
print('hello' + 'aditya')

helloaditya

### type conversion

In [28]:
print(type(100))#100 is an int
print(type(str(100)))# converting int into str

<class 'int'>
<class 'str'>

In [29]:
a=str(100)
b=int(a)
c=type(b)
print(c)
#type_conversion

<class 'int'>

### escape sequence in pyphon

used to write apistrophy in python(')

In [30]:
WEATHER ="IT'S SUNNY"
print(WEATHER)

IT'S SUNNY

In [31]:
# we can also write
weather ="IT\S\"kind of\" SUNNY"
print(weather)

IT\S"kind of" SUNNY

In [32]:
weather ="IT\S\"kind of\" SUNNY \n hope you have agood day \n sir maam"
print(weather)

IT\S"kind of" SUNNY
 hope you have agood day
 sir maam

##### formatted strings

In [33]:
name = 'aditya'
print('hi'+name)

hiaditya

In [34]:
name = 'aditya'
age=20
print('hi '+name+" you are "+str(age)+" years old")

hi aditya you are 20 years old

In [35]:
#we used the ancient way above using formated strings we ony need to type f
name = 'aditya'
age=20
print(f"hi {name} you are {age} years old")

#we do not need to convert int into str for printing in formatted string

hi aditya you are 20 years old

In [36]:
#string indexing(slicing)
selfish = 'ABCDEFGH'
          #01234567
#[start:stop]
print(selfish[0:4])
print(selfish[3:4])
#[START:STOP:STEP]
print(selfish[0:7:2])

print(selfish[1:])
print(selfish[3:])
print(selfish[:3])
print(selfish[:6])

print(selfish[::1])#{start:stop:step}

#negative
print(selfish[-2])
print(selfish[:-2])
print(selfish[-2:])

ABCD
D
ACEG
BCDEFGH
DEFGH
ABC
ABCDEF
ABCDEFGH
G
ABCDEF
GH

#### python string methods

###### https://www.w3schools.com/python/python_ref_string.asp

In [37]:
greet='hellloooo'
quote='to be and not to be'
print(greet[0:len(greet)])
print(quote.upper())
print(quote.capitalize())
print(quote.lower())
print(quote.find('be'))#returns the index number
print(quote.replace('be','me'))
print(quote)

hellloooo
TO BE AND NOT TO BE
To be and not to be
to be and not to be
3
to me and not to me
to be and not to be

### 4.boolean

In [38]:
name = 'aditya'
is_cool = False

is_cool=True

In [39]:
bool(1)

True

In [40]:
bool(0)

False

#### exercise3: type conversion

In [41]:
name ="aditya pathak"
age=20
relationship_status='single'

relationship_status='its complicated'

print(relationship_status)

its complicated

In [42]:
# age calculator(way1)
birth_year=int(input('what year were u born?'))
print(type(birth_year))

print(type(birth_year))
age=2023-birth_year

print(f"your age is {age}" )

what year were u born?2003
<class 'int'>
<class 'int'>
your age is 20

In [43]:
# age calculator(way2)
birth_year=input('what year were u born?')



age=2023-int(birth_year)

print(f"your age is {age}" )

what year were u born?2003
your age is 20

#### exercise4:password checker

In [44]:
print('*'*10)

**********

In [45]:
username=input("what is your username")
password=input("what is your password")

password_length=len(password)
hidden_password="*" * password_length


print(f"{username},your password,{hidden_password} is {password_length} letters long")

what is your username123
what is your password123456
123,your password,****** is 6 letters long

## 5.Lists
* denoted bt [] square brackets

In [46]:
l1=[1,2,3,4,5]
l2=['a','b','c','d']
l3=[1,2,'a',True]
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
[1, 2, 'a', True]

In [47]:
amazon_cart=['notebooks','sunglasses']
print(amazon_cart[1])
print(amazon_cart[0])
#indexing starts frrom 0

sunglasses
notebooks

In [48]:
#list slicing
amazon_cart=[
    'notebooks',#0
    'sunglasses',#1
    'toys',#2
    'grapes'#3    
]

print(amazon_cart[1:100])
print(amazon_cart[0:1:2])
print(amazon_cart[0::2])

['sunglasses', 'toys', 'grapes']
['notebooks']
['notebooks', 'toys']

In [49]:
#we can manipulate lists they are mutable

In [50]:
amazon_cart[0]='laptop'#replaced old item with new
new_cart=amazon_cart[0:3]
new_cart[0]='gum'
print(amazon_cart)
print(new_cart)

['laptop', 'sunglasses', 'toys', 'grapes']
['gum', 'sunglasses', 'toys']

##### matrix
array inside an array

In [51]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix)

print(matrix[0])#accessing the block
print(matrix[0][1])#accessing the particular element
print(matrix[2][2])
print(matrix[1][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
2
9
5

###### list methods
* https://www.w3schools.com/python/python_ref_list.asp

In [52]:
basket=[1,2,3,4,5]

print(len(basket))

#adding
new_list=basket.append(100)
print(basket)#append changes the list in place 
print(new_list)

#inserting
basket.insert(5,100)
print(basket)
basket.insert(7,'aloo')
print(basket)

#extend
basket.extend([100,101])#adds new element at the end of the list
print(basket)

#removing
basket.pop()#removes the last element from the list
print(basket)
basket.pop(1)#removes the indexed element from the list
print(basket)

basket.remove(100)#remoes the specific element rom the lilst
print(basket)

5
[1, 2, 3, 4, 5, 100]
None
[1, 2, 3, 4, 5, 100, 100]
[1, 2, 3, 4, 5, 100, 100, 'aloo']
[1, 2, 3, 4, 5, 100, 100, 'aloo', 100, 101]
[1, 2, 3, 4, 5, 100, 100, 'aloo', 100]
[1, 3, 4, 5, 100, 100, 'aloo', 100]
[1, 3, 4, 5, 100, 'aloo', 100]

In [53]:
#more methods2

basket=["a",'b','c','d','e']

#index
print(basket.index('d'))
print(basket.index('d',0,4))

print('d' in basket)#checking whetehr an element is in the list or not
print('i' in 'hi my name is IAN')

print(basket.count('d'))

3
3
True
True
1

In [54]:
#list method 3
basket=['a','x','c','b','e','d','r','p']

#sorting
print(sorted(basket))
print(basket)#the og basket is not sorted
print(basket.reverse())
print(basket[::-1])

['a', 'b', 'c', 'd', 'e', 'p', 'r', 'x']
['a', 'x', 'c', 'b', 'e', 'd', 'r', 'p']
None
['a', 'x', 'c', 'b', 'e', 'd', 'r', 'p']

In [55]:
print(range(1,100))

range(1, 100)

In [56]:
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [57]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [58]:
#.join
sentence=' ! '
new_sentence=sentence.join(['hi','my','name','is','aditya'])

print(new_sentence)

hi ! my ! name ! is ! aditya

In [59]:
#list unpacking
a,b,c=[1,2,3]

print(a)
print(b)
print(c)

1
2
3

In [60]:
#list unpacking
a,b,c, *other, d=[1,2,3,4,5,6,7,8,9]

print(a)
print(b)
print(c)

print(other)

print(d)

1
2
3
[4, 5, 6, 7, 8]
9

### 6.none

In [61]:
weapons=None
print(weapons)

None

## 7.dictionaries

* used{}curly brackets
* unordered key value pair

In [62]:
dictionary={
    'a':1,
    'b':2,
    'x':3
}

print(dictionary)

{'a': 1, 'b': 2, 'x': 3}

In [63]:
dictionary={
    'a':[1,2,3],
    'b':'hello',
    'x':True
}


print(dictionary)
print(dictionary['a'])
print(dictionary['a'][1])

{'a': [1, 2, 3], 'b': 'hello', 'x': True}
[1, 2, 3]
2

In [64]:
my_list=[
    {
    'a':[1,2,3],
    'b':'hello',
    'x':True
},
    {
    'a':[4,5,6],
    'b':'tata',
    'x':False
}
]

print(my_list)
print(my_list[0])
print(my_list[1])

print(my_list[0]['a'][2])

[{'a': [1, 2, 3], 'b': 'hello', 'x': True}, {'a': [4, 5, 6], 'b': 'tata', 'x': False}]
{'a': [1, 2, 3], 'b': 'hello', 'x': True}
{'a': [4, 5, 6], 'b': 'tata', 'x': False}
3

# list VS dictionary

* a dictionary is not sorted while a list is sorted
* a dictionary can contaion any sort ogf data type while a list is its own type

In [65]:
user={
    'basket':[1,2,3],
    "greet":'hello',
    'age':20
}
print(user.get('age',55))

user2=dict(name='jonjon')
print(user2)

20
{'name': 'jonjon'}

### python dictionary methods
https://www.w3schools.com/python/python_ref_dictionary.asp

In [66]:
user={
    'basket':[1,2,3],
    "greet":'hello',
    'age':20
}

print('age' in user.keys())
print('hello' in user.keys())

print(user.items())

True
False
dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])

In [67]:
user={
    'basket':[1,2,3],
    "greet":'hello',
    'age':20
}

#copy
user2=user.copy()
print(user)

#pop
print(user.pop('age'))
print(user)#age got removed

#update
print(user.update({'age':21}))

{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}
20
{'basket': [1, 2, 3], 'greet': 'hello'}
None

In [68]:
user={
    'basket':[1,2,3],
    "greet":'hello',
    'age':20
}
print(user)
#update
print(user.update({'age':21}))
print(user)

{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}
None
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 21}

# 8.tuple

* they r like list but cannot be modified
* used () brackets

In [69]:
my_tuple=(1,2,3,4,5)
print(5 in my_tuple)

True

In [70]:
new_tuple=my_tuple[1:4]
print(new_tuple)

(2, 3, 4)

In [71]:
x,y,z, *other=(1,2,3,4,5)
print(other)

[4, 5]

In [72]:
# methods only 2
my_tuple=(1,2,3,4,5,5)
print(my_tuple.count(5))
print(my_tuple.index(5))

2
4

## 8.set

In [73]:
my_set={1,2,3,4,5,5}
print(my_set)
my_set.add(100)
my_set.add(99)#
my_set.add(2)#only unique values in sets

print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 100, 99}

In [74]:
#for lists
my_list=[1,2,3,4,5,5]

print(set(my_list))

{1, 2, 3, 4, 5}

In [76]:
#dor set
my_set={1,2,3,4,5,5}

print(len(my_list))
print(list(my_list))# for having list as a copy

6
[1, 2, 3, 4, 5, 5]

In [80]:
new_set=my_set.copy()
print(new_set)

{1, 2, 3, 4, 5}

# methods of set
* difference()
* discard()
* difference_update()
* intersection()
* isdisjoint()
* issubset()
* issuperset()
* union()

In [94]:
my_set={1,2,3,4,5,6}
your_set={4,5,6,7,8,9,10}

#difference()
print(my_set.difference(your_set))
#discard()
print(my_set.discard(5))
print(my_set)
#difference_update()
my_set.difference_update(your_set)
print(my_set)
#intersection()
print(my_set.intersection(your_set))
#isdisjoint()
print(my_set.isdisjoint(your_set))
#issubset()
print(my_set.issubset(your_set))
#issuperset()
print(my_set.issuperset(your_set))
#union()
print(my_set.union(your_set))

{1, 2, 3}
None
{1, 2, 3, 4, 6}
{1, 2, 3}
set()
True
False
False
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}